* {
  margin: 0;
  padding: 0;
}
body {
  height: 97vh;
  width: 98vw;
}

header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1,
h2,
p {
  margin: 10px;
}

img {
  height: 150px;
  width: auto;
}

.game {
  display: flex;
  justify-content: space-around;
  height: 80%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-content: space-around;
}
p {
  font-weight: bold;
}

.rez {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #175963;
}

button:hover {
  background-color: #167280;
}

#uzvarasteksts {
  margin-top: 10px;
}

.rezultats {
  display: flex;
  margin: 3px;
}
